body {
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: sans;
    font-size: 10pt;
    background-color: darkgray;
}

#content {
    border: 2px solid darkgray;
    padding: 1em;
    margin-right: 15%;
    margin-left: 15%;
    background-color: white;
}

canvas {
    border: 1px solid lightgray;
    margin: 1em 0em;
}